@import url(https://fonts.googleapis.com/css?family=Nunito);.m-t-5 {
  margin-top: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.m-t-55 {
  margin-top: 55px !important;
}

.p-t-55 {
  padding-top: 55px !important;
}

.m-b-55 {
  margin-bottom: 55px !important;
}

.p-b-55 {
  padding-bottom: 55px !important;
}

.m-l-55 {
  margin-left: 55px !important;
}

.p-l-55 {
  padding-left: 55px !important;
}

.m-r-55 {
  margin-right: 55px !important;
}

.p-r-55 {
  padding-right: 55px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.p-t-60 {
  padding-top: 60px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.p-b-60 {
  padding-bottom: 60px !important;
}

.m-l-60 {
  margin-left: 60px !important;
}

.p-l-60 {
  padding-left: 60px !important;
}

.m-r-60 {
  margin-right: 60px !important;
}

.p-r-60 {
  padding-right: 60px !important;
}

.m-t-65 {
  margin-top: 65px !important;
}

.p-t-65 {
  padding-top: 65px !important;
}

.m-b-65 {
  margin-bottom: 65px !important;
}

.p-b-65 {
  padding-bottom: 65px !important;
}

.m-l-65 {
  margin-left: 65px !important;
}

.p-l-65 {
  padding-left: 65px !important;
}

.m-r-65 {
  margin-right: 65px !important;
}

.p-r-65 {
  padding-right: 65px !important;
}

.m-t-70 {
  margin-top: 70px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.m-b-70 {
  margin-bottom: 70px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.m-l-70 {
  margin-left: 70px !important;
}

.p-l-70 {
  padding-left: 70px !important;
}

.m-r-70 {
  margin-right: 70px !important;
}

.p-r-70 {
  padding-right: 70px !important;
}

.m-t-75 {
  margin-top: 75px !important;
}

.p-t-75 {
  padding-top: 75px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.m-l-75 {
  margin-left: 75px !important;
}

.p-l-75 {
  padding-left: 75px !important;
}

.m-r-75 {
  margin-right: 75px !important;
}

.p-r-75 {
  padding-right: 75px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.m-l-80 {
  margin-left: 80px !important;
}

.p-l-80 {
  padding-left: 80px !important;
}

.m-r-80 {
  margin-right: 80px !important;
}

.p-r-80 {
  padding-right: 80px !important;
}

.m-t-85 {
  margin-top: 85px !important;
}

.p-t-85 {
  padding-top: 85px !important;
}

.m-b-85 {
  margin-bottom: 85px !important;
}

.p-b-85 {
  padding-bottom: 85px !important;
}

.m-l-85 {
  margin-left: 85px !important;
}

.p-l-85 {
  padding-left: 85px !important;
}

.m-r-85 {
  margin-right: 85px !important;
}

.p-r-85 {
  padding-right: 85px !important;
}

.m-t-90 {
  margin-top: 90px !important;
}

.p-t-90 {
  padding-top: 90px !important;
}

.m-b-90 {
  margin-bottom: 90px !important;
}

.p-b-90 {
  padding-bottom: 90px !important;
}

.m-l-90 {
  margin-left: 90px !important;
}

.p-l-90 {
  padding-left: 90px !important;
}

.m-r-90 {
  margin-right: 90px !important;
}

.p-r-90 {
  padding-right: 90px !important;
}

.m-t-95 {
  margin-top: 95px !important;
}

.p-t-95 {
  padding-top: 95px !important;
}

.m-b-95 {
  margin-bottom: 95px !important;
}

.p-b-95 {
  padding-bottom: 95px !important;
}

.m-l-95 {
  margin-left: 95px !important;
}

.p-l-95 {
  padding-left: 95px !important;
}

.m-r-95 {
  margin-right: 95px !important;
}

.p-r-95 {
  padding-right: 95px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.m-l-100 {
  margin-left: 100px !important;
}

.p-l-100 {
  padding-left: 100px !important;
}

.m-r-100 {
  margin-right: 100px !important;
}

.p-r-100 {
  padding-right: 100px !important;
}

.m-t-105 {
  margin-top: 105px !important;
}

.p-t-105 {
  padding-top: 105px !important;
}

.m-b-105 {
  margin-bottom: 105px !important;
}

.p-b-105 {
  padding-bottom: 105px !important;
}

.m-l-105 {
  margin-left: 105px !important;
}

.p-l-105 {
  padding-left: 105px !important;
}

.m-r-105 {
  margin-right: 105px !important;
}

.p-r-105 {
  padding-right: 105px !important;
}

.m-t-110 {
  margin-top: 110px !important;
}

.p-t-110 {
  padding-top: 110px !important;
}

.m-b-110 {
  margin-bottom: 110px !important;
}

.p-b-110 {
  padding-bottom: 110px !important;
}

.m-l-110 {
  margin-left: 110px !important;
}

.p-l-110 {
  padding-left: 110px !important;
}

.m-r-110 {
  margin-right: 110px !important;
}

.p-r-110 {
  padding-right: 110px !important;
}

.m-t-115 {
  margin-top: 115px !important;
}

.p-t-115 {
  padding-top: 115px !important;
}

.m-b-115 {
  margin-bottom: 115px !important;
}

.p-b-115 {
  padding-bottom: 115px !important;
}

.m-l-115 {
  margin-left: 115px !important;
}

.p-l-115 {
  padding-left: 115px !important;
}

.m-r-115 {
  margin-right: 115px !important;
}

.p-r-115 {
  padding-right: 115px !important;
}

.m-t-120 {
  margin-top: 120px !important;
}

.p-t-120 {
  padding-top: 120px !important;
}

.m-b-120 {
  margin-bottom: 120px !important;
}

.p-b-120 {
  padding-bottom: 120px !important;
}

.m-l-120 {
  margin-left: 120px !important;
}

.p-l-120 {
  padding-left: 120px !important;
}

.m-r-120 {
  margin-right: 120px !important;
}

.p-r-120 {
  padding-right: 120px !important;
}

.m-t-130 {
  margin-top: 130px !important;
}

.p-t-130 {
  padding-top: 130px !important;
}

.m-b-130 {
  margin-bottom: 130px !important;
}

.p-b-130 {
  padding-bottom: 130px !important;
}

.m-l-130 {
  margin-left: 130px !important;
}

.p-l-130 {
  padding-left: 130px !important;
}

.m-r-130 {
  margin-right: 130px !important;
}

.p-r-130 {
  padding-right: 130px !important;
}

.m-t-150 {
  margin-top: 150px !important;
}

.p-t-150 {
  padding-top: 150px !important;
}

.m-b-150 {
  margin-bottom: 150px !important;
}

.p-b-150 {
  padding-bottom: 150px !important;
}

.m-l-150 {
  margin-left: 150px !important;
}

.p-l-150 {
  padding-left: 150px !important;
}

.m-r-150 {
  margin-right: 150px !important;
}

.p-r-150 {
  padding-right: 150px !important;
}

.m-t-160 {
  margin-top: 160px !important;
}

.p-t-160 {
  padding-top: 160px !important;
}

.m-b-160 {
  margin-bottom: 160px !important;
}

.p-b-160 {
  padding-bottom: 160px !important;
}

.m-l-160 {
  margin-left: 160px !important;
}

.p-l-160 {
  padding-left: 160px !important;
}

.m-r-160 {
  margin-right: 160px !important;
}

.p-r-160 {
  padding-right: 160px !important;
}

.m-t-180 {
  margin-top: 180px !important;
}

.p-t-180 {
  padding-top: 180px !important;
}

.m-b-180 {
  margin-bottom: 180px !important;
}

.p-b-180 {
  padding-bottom: 180px !important;
}

.m-l-180 {
  margin-left: 180px !important;
}

.p-l-180 {
  padding-left: 180px !important;
}

.m-r-180 {
  margin-right: 180px !important;
}

.p-r-180 {
  padding-right: 180px !important;
}

.m-t-190 {
  margin-top: 190px !important;
}

.p-t-190 {
  padding-top: 190px !important;
}

.m-b-190 {
  margin-bottom: 190px !important;
}

.p-b-190 {
  padding-bottom: 190px !important;
}

.m-l-190 {
  margin-left: 190px !important;
}

.p-l-190 {
  padding-left: 190px !important;
}

.m-r-190 {
  margin-right: 190px !important;
}

.p-r-190 {
  padding-right: 190px !important;
}

.m-t-200 {
  margin-top: 200px !important;
}

.p-t-200 {
  padding-top: 200px !important;
}

.m-b-200 {
  margin-bottom: 200px !important;
}

.p-b-200 {
  padding-bottom: 200px !important;
}

.m-l-200 {
  margin-left: 200px !important;
}

.p-l-200 {
  padding-left: 200px !important;
}

.m-r-200 {
  margin-right: 200px !important;
}

.p-r-200 {
  padding-right: 200px !important;
}

.m-t-210 {
  margin-top: 210px !important;
}

.p-t-210 {
  padding-top: 210px !important;
}

.m-b-210 {
  margin-bottom: 210px !important;
}

.p-b-210 {
  padding-bottom: 210px !important;
}

.m-l-210 {
  margin-left: 210px !important;
}

.p-l-210 {
  padding-left: 210px !important;
}

.m-r-210 {
  margin-right: 210px !important;
}

.p-r-210 {
  padding-right: 210px !important;
}

.m-t-220 {
  margin-top: 220px !important;
}

.p-t-220 {
  padding-top: 220px !important;
}

.m-b-220 {
  margin-bottom: 220px !important;
}

.p-b-220 {
  padding-bottom: 220px !important;
}

.m-l-220 {
  margin-left: 220px !important;
}

.p-l-220 {
  padding-left: 220px !important;
}

.m-r-220 {
  margin-right: 220px !important;
}

.p-r-220 {
  padding-right: 220px !important;
}

.m-t-230 {
  margin-top: 230px !important;
}

.p-t-230 {
  padding-top: 230px !important;
}

.m-b-230 {
  margin-bottom: 230px !important;
}

.p-b-230 {
  padding-bottom: 230px !important;
}

.m-l-230 {
  margin-left: 230px !important;
}

.p-l-230 {
  padding-left: 230px !important;
}

.m-r-230 {
  margin-right: 230px !important;
}

.p-r-230 {
  padding-right: 230px !important;
}

.m-t-250 {
  margin-top: 250px !important;
}

.p-t-250 {
  padding-top: 250px !important;
}

.m-b-250 {
  margin-bottom: 250px !important;
}

.p-b-250 {
  padding-bottom: 250px !important;
}

.m-l-250 {
  margin-left: 250px !important;
}

.p-l-250 {
  padding-left: 250px !important;
}

.m-r-250 {
  margin-right: 250px !important;
}

.p-r-250 {
  padding-right: 250px !important;
}

.m-t-260 {
  margin-top: 260px !important;
}

.p-t-260 {
  padding-top: 260px !important;
}

.m-b-260 {
  margin-bottom: 260px !important;
}

.p-b-260 {
  padding-bottom: 260px !important;
}

.m-l-260 {
  margin-left: 260px !important;
}

.p-l-260 {
  padding-left: 260px !important;
}

.m-r-260 {
  margin-right: 260px !important;
}

.p-r-260 {
  padding-right: 260px !important;
}

.m-t-270 {
  margin-top: 270px !important;
}

.p-t-270 {
  padding-top: 270px !important;
}

.m-b-270 {
  margin-bottom: 270px !important;
}

.p-b-270 {
  padding-bottom: 270px !important;
}

.m-l-270 {
  margin-left: 270px !important;
}

.p-l-270 {
  padding-left: 270px !important;
}

.m-r-270 {
  margin-right: 270px !important;
}

.p-r-270 {
  padding-right: 270px !important;
}

.m-t-280 {
  margin-top: 280px !important;
}

.p-t-280 {
  padding-top: 280px !important;
}

.m-b-280 {
  margin-bottom: 280px !important;
}

.p-b-280 {
  padding-bottom: 280px !important;
}

.m-l-280 {
  margin-left: 280px !important;
}

.p-l-280 {
  padding-left: 280px !important;
}

.m-r-280 {
  margin-right: 280px !important;
}

.p-r-280 {
  padding-right: 280px !important;
}

.m-t-290 {
  margin-top: 290px !important;
}

.p-t-290 {
  padding-top: 290px !important;
}

.m-b-290 {
  margin-bottom: 290px !important;
}

.p-b-290 {
  padding-bottom: 290px !important;
}

.m-l-290 {
  margin-left: 290px !important;
}

.p-l-290 {
  padding-left: 290px !important;
}

.m-r-290 {
  margin-right: 290px !important;
}

.p-r-290 {
  padding-right: 290px !important;
}

.m-t-300 {
  margin-top: 300px !important;
}

.p-t-300 {
  padding-top: 300px !important;
}

.m-b-300 {
  margin-bottom: 300px !important;
}

.p-b-300 {
  padding-bottom: 300px !important;
}

.m-l-300 {
  margin-left: 300px !important;
}

.p-l-300 {
  padding-left: 300px !important;
}

.m-r-300 {
  margin-right: 300px !important;
}

.p-r-300 {
  padding-right: 300px !important;
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/
}

#toast-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

#toast-container > div:hover {
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast {
  background-color: #030303;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Responsive Design*/

@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

@font-face {
  font-family: "Montse";
  src: url(/fonts/Montserrat-Regular.ttf?9c46095118380d38f12e67c916b427f9) format("truetype");
  font-style: normal;
  font-weight: "regular";
}

@font-face {
  font-family: "MontseL";
  src: url(/fonts/Montserrat-Light.ttf?100b38fa184634fc89bd07a84453992c) format("truetype");
  font-style: normal;
  font-weight: "light";
}

@font-face {
  font-family: "MontseB";
  src: url(/fonts/Montserrat-ExtraBold.ttf?9bc77c3bca968c7490de95d1532d0e87) format("truetype");
  font-style: normal;
  font-weight: "bold";
}

* {
  font-family: Montse;
  font-size: 13px;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

